<div class="rts-footer-area pt--100 pb--100 pt_sm--50 pb_sm--40  footer-two footer-bg-two">
    <div class="container">
        <div class="row">
            <!-- single wized -->
            <!-- single wized -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="footer-two-single-wized left">
                    <h3 class="title animated fadeIn">
                        <span>Ready To</span> <br>
                        Work With Us?
                    </h3>
                    <p class="disc">
                        LTI provides innovative water enhancement technology solutions for industrial, agricultural,
                        and domestic applications.
                    </p>
                    <a class="rts-btn btn-primary" href="contact.html">Contact Us</a>
                </div>
            </div>
            <!-- single wized -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--50">
                <div class="footer-two-single-wized two">
                    <div class="wized-title-area">
                        <h5 class="wized-title">Our Applications</h5>
                        <img src="assets/images/footer/01.png" alt="Invena_Footer">
                    </div>
                    <div class="wized-2-body">
                        <ul>
                            <li><a href="applications/wtp_application.html"><i
                                        class="fal fa-chevron-double-right"></i>WTP Applications</a></li>
                            <li><a href="applications/industrial_application.html"><i
                                        class="fal fa-chevron-double-right"></i>Industrial Applications</a></li>
                            <li><a href="applications/domestic_application.html"><i
                                        class="fal fa-chevron-double-right"></i>Domestic Applications</a></li>
                            <li><a href="applications/healthcare_application.html"><i
                                        class="fal fa-chevron-double-right"></i>Healthcare Applications</a></li>
                            <li><a href="applications/agriculture_application.html"><i
                                        class="fal fa-chevron-double-right"></i>Agriculture Applications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- single wized -->
            <!-- single wized -->
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--30 mt_md--30">
                <div class="footer-two-single-wized">
                    <div class="wized-title-area">
                        <h5 class="wized-title">Contact Us</h5>
                        <img src="assets/images/footer/01.png" alt="Invena_Footer">
                    </div>
                    <div class="wized-2-body">
                        <div class="contact-info-1">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="disc">
                                <span style="color: var(--color-primary)">India Location</span>
                                <div class="address-details" style="color: #ffffff;">
                                    <span style="display: block; margin-bottom: 5px;">H.no :5-2-4/3,kukatpally
                                        ,Hyderabad telanagana 500072</span>
                                    <span style="display: block; margin-bottom: 5px;">
                                        Email : <a href="mailto:Bharath@litindia.com"
                                            style="color: inherit;">Bharath@litindia.com</a>
                                    </span>
                                    <span style="display: block;">
                                        Tel : <a href="tel:7780297596" style="color: inherit;">7780297596</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info-1">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="disc">
                                <span style="color: var(--color-primary)">Japan Location</span>
                                <div class="address-details" style="color: #ffffff;">
                                    <span style="display: block; margin-bottom: 5px;">Liquid Technologies
                                        International, Inc. ( LTI )</span>
                                    <span style="display: block; margin-bottom: 5px;">5F, Ginza Fugetsudo Bldg, 6-6-1
                                        Ginza, Chuo-ku <br> Tokyo 1040061 JAPAN</span>
                                    <span style="display: block; margin-bottom: 5px;">
                                        Email : <a href="mailto:info-lti@litjp.net"
                                            style="color: inherit;">info-lti@litjp.net</a>
                                    </span>
                                    <span style="display: block;">
                                        Tel : <a href="tel:+81362158611" style="color: inherit;">+81 3 6215 8611</a>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- single wized -->
        </div>
    </div>
</div>
<div class="rts-copy-right-1 ptb--10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-h-2-wrapper justify-content-center">
                    Aqua Softners Pvt Ltd - Copyright
                    <span class="current-year"></span>. All rights reserved.
                    <script>
                        $('.current-year').text(new Date().getFullYear());
                    </script>
                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-h-2-wrapper">

                    <p class="body"
                        style="color: red; font-size: 14px; font-style: italic; margin-bottom: 5px; text-align: center; width: 100%;">
                        LTI Global or any other tradename which includes LTI are not related to us at all
                    </p>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>